.container {
	display: flex;
  justify-content: center;
  padding: 15px;
}

#welcome-message {
	text-align: center;
	flex: 0 1 50vw;
}

#sign-in {
	flex: 0 1 25vw;
	text-align: center;
}

#sign-in form {
	display: grid;
}

#sign-in form > * {	
  margin: 0px auto 15px;
  border-radius: 4px;
 	height: 20px;
}

#sign-in form input {
	width: 75%;
}

#sign-in form button {
	width: 25%;
}

#sign-in form button:hover {
	background-color: #008ce3;
	color: white;
}

.tasks {
	flex: 0 1 60vw;
	background-color: white;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	padding: 15px;
	height: 100%;
}

.task-form-container {
	margin-left: 15px;
	flex: 0 1 30vw;
	background-color: white;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	padding: 15px;
	height: 100%;
}

#task-form {
	display: grid;
}

#task-form > * {
  padding: 15px 0px;
}

.form-control {
	width: 120px;
}

.assigned-to-row {
	display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #e0e6e8;
}

.notes {
	width: 98%;
  height: 50px;
}

.datetime {
	margin: 0 auto;
}

#task-title {
	width: 100%;
	padding: 5px;
  font-size: 1.5em;
  box-sizing: border-box;
}

.tasks svg {
	height: 15px;
}

#tasks-header:hover {
	cursor: pointer;
	color: #008ce3;
}

#tasks-header {
	font-size: 1.5em;
	font-weight: 700;
	display: inline-flex;
}

#tasks-header:hover .arrow { 
  fill: #008ce3;
}

#add-task {
  border-bottom: 1px solid #e0e6e8;
  display: flex;
  min-height: 35px;
  flex-direction: column;
  padding-bottom: 15px;
}

#add-task button {
	width: 80px;
	margin: auto 0;
	background: #008ce3;
  border: 1px solid;
  border-radius: 4px;
  padding: 7px;
  color: white;
  font-size: 14px;
}

#add-task button:hover {
	background: #006eb3;
}

#add-task form {
	padding-top: 10px;
}

.empty-task-list {
	text-align: center;
  font-size: 1.25em;
  color: #008ce3;
}

.check-icon {
	fill: gray;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px;
  transition: all 0.25s ease;
}

.check-icon:hover {
	fill: #008ce3;
  border: 1px solid #008ce3;
}